<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="description" content="Web Contact about"/>
		<meta http-equiv="author" content="Maurice Luo"/>
		<meta http-equiv="pragma" content="no-cache"/>
		<link href="../../static/css/about.css" type="text/css" rel="stylesheet"/>
		<title>About</title>
	</head>

	<body>
		<div class="div1">
			<h2>About</h2>
		</div>
		<div class="div2">
			<table>
				<tr>
					<th width="150">姓名</th>
					<td>罗暄澍</td>
				</tr>
				<tr>
					<th width="150">班级</th>
					<td>2015211314</td>
				</tr>
				<tr>
					<th width="150">学号</th>
					<td>2015211527</td>
				</tr>
			</table>
		</div>
	</body>

</html>
